# This configuration file contains the custom configurations parameters
# for the Washington State phylogenetic build with custom rules and metadata

# Use 'NY99' as the reference since it should be basel to the USA sequences
reference: "defaults/wa/reference.gb"
# Use 'IS88' as the root strain on the phylogenetic tree to place samples within the global context
root: "AF481864"

# Sequences must be FASTA and metadata must be TSV
# Both files must be zstd compressed
inputs:
  - name: ncbi
    metadata: "s3://nextstrain-data/files/workflows/WNV/metadata.tsv.zst"
    sequences: "s3://nextstrain-data/files/workflows/WNV/sequences.fasta.zst"

additional_inputs:
  - name: private-lat-longs
    metadata: "data-private/metadata.tsv"
    sequences: "data-private/sequences.fasta"

builds: ['wa']

# This command excludes all strains by default and then forces the inclusion of
# the strains selected by the subsampling logic defined above.
subsampling:
  state: --query "state == 'WA'" --min-length '8200' --subsample-max-sequences 5000
  neighboring_state: --query "state in ['CA', 'ID', 'OR', 'NV']" --group-by state year --min-length '8200' --subsample-max-sequences 5000
  region: --query "state in ['AZ','NM', 'CO', 'UT', 'WY', 'MT']" --group-by state year --min-length '8200' --subsample-max-sequences 5000
  country: --query "country == 'USA' and state not in ['WA', 'CA', 'ID', 'OR', 'NV','AZ','NM', 'CO', 'UT', 'WY', 'MT'] and accession != 'NC_009942'" --group-by state year --subsample-max-sequences 300 --min-length '8200'
  force_include: --exclude-all --include ../nextclade/defaults/include.txt

refine:
  treetime_params: --coalescent opt --clock-filter-iqd 4 --date-inference marginal --date-confidence --clock-rate 0.000653

traits:
  metadata_columns: [
    'country',
    'division',
    'location',
    'clade_membership',
    'host'
  ]

export:
  auspice_config: "defaults/wa/auspice_config.json"

## Custom rules to run as part of the CI automated workflow
## The paths should be relative to the phylogenetic directory.
custom_rules:
  - build-configs/washington-state/washington-state-rules.smk
