strain_id_field: "accession"
# Use 'Egypt 1951' as the reference and root, following Mencattelli et al, 2023
# https://www.nature.com/articles/s41467-023-42185-7
reference: "defaults/all-lineages/reference.gb"
root: "mid_point"

# Sequences must be FASTA and metadata must be TSV
# Both files must be zstd compressed
inputs:
  - name: ncbi
    metadata: "s3://nextstrain-data/files/workflows/WNV/metadata.tsv.zst"
    sequences: "s3://nextstrain-data/files/workflows/WNV/sequences.fasta.zst"

builds: ['all-lineages']

# See Nextstrain documentation for an explanation of how subsampling configuration works:
# <https://docs.nextstrain.org/en/latest/guides/bioinformatics/filtering-and-subsampling.html#generalizing-subsampling-in-a-workflow>
subsampling:
  region: --query "is_lab_host != 'true'" --query-columns is_lab_host:str --min-length '8200' --group-by region year --subsample-max-sequences 3000 --exclude defaults/exclude.txt --exclude-all --include defaults/include.txt

refine:
  treetime_params: --coalescent opt --date-inference marginal --date-confidence --keep-polytomies --clock-rate 0.000755

traits:
  metadata_columns: [
    'region',
    'country',
    'lineage',
  ]

tip_frequencies:
  # 2000 since there is an increase in WNV at that time
  min_date: "2000-01-01"
  max_date: "6M"
  # Quarterly narrow_bandwidth or every 3 months (3 /12.0 = 0.25)
  narrow_bandwidth: 0.25
  proportion_wide: 0.0

export:
  description: "defaults/description.md"
  auspice_config: "defaults/all-lineages/auspice_config.json"
